input{
    margin: 10px;
}
.queryDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
}
.reqBody{
    position: relative;
    width: 400px;
    top: 14px;
    min-width: 400px;
    min-height: 33px;
    max-width: 400px;
    max-height: 200px;
    margin-right: 5%;
}
.historyItem{
    background-color: rgba(200,100,75, .7);
    border-radius: 5px;
    margin-top: 10px;
    height: 100%;
    width: 400px;
    list-style: none;
    padding: 0;
}

.historyLabel{
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-decoration:  underline;
    text-align: center;
}
.jsonLabel{
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-decoration:  underline;
    text-align: center;
}
.resCont{
    overflow-y: scroll;
    height: 100%;
    width: 65%;
}

.report{
    display: flex;
    background-color: grey;
    width: 100%;
    height: 600px;
}

.historyRender{
    overflow-y: scroll;
    height: 100%;
    width: 40%;
}

.warning{
    background-color: red;
}

.darkMode{
    background-color: black;
    color: white;
}

.default{
    background-color: beige;
}
